@charset "utf-8";
@import "../assets/fonts/Inter/inter_font.css";

:root {
    --darkbrown: #593C1C;
    --lightbrown: #A97B47;
    --red: #C82525;
    --gray: #909090;
    --blue: #315FD8;
    --cream: #F7F0E9;
    --white: #F5F5F5;
    --beige: #FFC700;
}

body {
    background-color: var(--white);
    font-family: "Inter", serif;
}

.login-container {
    max-width: 400px;
    padding: 20px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    background-color: var(--cream);

    margin: 10vw auto 0;
}

.logo-container {
    text-align: center;
}

.logo-container img {
    width: 7vw;
    height: 7vw;
    margin-bottom: 10px;
}

.logo-container h1 {
    font-size: 2vw;
    color: var(--darkbrown);
    margin: 0;
}

.login-form {
    display: flex;
    flex-direction: column;

    margin-top: 2vw;
}

label {
    color: var(--darkbrown);
    margin-bottom: 5px;

    font-size: 1.5vw;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    margin-bottom: 20px;

    font-size: 1.5vw;
}

button[type="submit"] {
    background-color: var(--lightbrown);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    font-size: 1.4vw;
}

button[type="submit"]:hover {
    background-color: var(--darkbrown);
}
