@charset "utf-8";
@import "../assets/fonts/Inter/inter_font.css";
@import "normalize.css";

:root {
    --darkbrown: #593C1C;
    --lightbrown: #A97B47;
    --red: #C82525;
    --gray: #909090;
    --blue: #315FD8;
    --cream: #F7F0E9;
    --white: #F5F5F5;
    --beige: #FFC700;
}

body {
    background-color: var(--white);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;
    background: var(--white);

    padding-top: 200px;
}

.credits {
    display: flex;
    width: 90%;
    height: 249px;

    background-color: white;
    margin: auto;

    box-shadow: 0 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
}

.credits .user-info {
    display: flex;
    flex-direction: column;
    width: 50%;

    margin-left: 20px;
    margin-top: 10px;
}

.credits .user-info img {
    display: inline-block;
    vertical-align: middle;

    width: 15px;
    height: auto;
}

.credits .user-info span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 1.2vw;
    line-height: 34px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

    color: var(--darkbrown);
}

.credits .buy {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.credits .buy .credit-value {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 7vw;
    line-height: 0;
    text-align: center;

    color: #593C1C;

    margin-bottom: 20px;
    margin-top: 60px;

    height: 20%;
    width: 95%;
}

.credits .buy .amount {
    background: #FFFFFF;
    border: 1px solid #919191;
    box-shadow: 0 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1vw;

    color: #919191;

    margin-bottom: 2%;


    height: 15%;
    width: 95%;
}

.credits .buy .submit {
    background: #593C1C;
    box-shadow: 0 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1vw;

    margin-bottom: 2%;

    color: #FFFFFF;

    height: 15%;
    width: 95%;
}


.credits .buy input:hover {
    border: 2px solid var(--darkbrown);
    color: var(--darkbrown);
}

.credits .buy input:last-child {
    border: 2px solid var(--darkbrown);
    background-color: var(--darkbrown);
    color: var(--cream);
}

.credits .buy input:last-child:hover {
    border: 2px solid var(--lightbrown);
    background-color: var(--lightbrown);
    color: var(--beige);
}

.buy-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
}

.buy-list .title {
    display: flex;
    align-items: center;
}

.buy-list .title h4 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5vw;
    line-height: 48px;
    text-align: center;

    color: #593C1C;

    margin-left: 1%;
}

.buy-list .title img {
    width: 1.9vw;
    height: auto;
}

.buy-list-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buy-list-table .th, .td {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: min-content;

    margin-bottom: 2vw;
    box-shadow: 0 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;

    background: #ffffff;

    padding: 1vw;
}

.buy-list-table .td img {
    max-width: 50%;
    height: auto;
}

.buy-list-table .th span {
    flex-basis: calc(100% / 8);
    text-align: center;
    padding: 0.1rem;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 3vw;

    color: #000000;
}

.buy-list-table .td span {
    flex-basis: calc(100% / 8);
    text-align: center;
    padding: 0.1rem;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 3vw;

    color: #919191;
}

.buy-list .buy-list-table .stock {
    color: var(--red);
    font-weight: bold;
    font-family: Inter, serif;
}

.buy-list .buy-list-table .rate {
    color: var(--beige);
    font-weight: bold;
    font-family: Inter, serif;
}

.buy-list .buy-list-table .in-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #FFFFFF;
    border: 1px solid #593C1C;
    border-radius: 15px;
    padding: 0;

    height: 4vw;
}

.buy-list .buy-list-table .in-cart #minus, #num, #plus {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #000000;

    margin-left: 1vw;
    margin-right: 1vw;
}

.buy-list .buy-list-pay {
    display: flex;
    justify-content: center;
    height: 3vw;

}

.buy-list .buy-list-pay .submit {
    background: #593C1C;
    box-shadow: 0 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;

    color: #FFFFFF;

    width: 45%;
}


.history {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;

    margin-top: 4%;
}

.history .title {
    display: flex;
    align-items: center;
}

.history .title h4 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5vw;
    line-height: 48px;
    text-align: center;

    color: #593C1C;

    margin-left: 1%;
}

.history .title img {
    width: 1.9vw;
    height: auto;
}

.history .history-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history .history-table .th, .td {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: min-content;

    margin-bottom: 2vw;
    box-shadow: 0 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;

    background: #ffffff;

    padding: 1vw;
}

.history .history-table .td img {
    max-width: 50%;
    height: auto;
}

.history .history-table .th span {
    flex-basis: calc(100% / 8);
    text-align: center;
    padding: 0.1rem;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 3vw;

    color: #000000;
}

.history .history-table .td span {
    flex-basis: calc(100% / 8);
    text-align: center;
    padding: 0.1rem;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4vw;
    line-height: 3vw;

    color: #919191;
}

.history .history-table .td .stock {
    color: var(--red);
    font-weight: bold;
    font-family: Inter, serif;
}

.history .history-table .td .rate {
    color: var(--beige);
    font-weight: bold;
    font-family: Inter, serif;
}

