<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Form</title>
    <link rel="stylesheet" href="../styles/login_signup.css">
</head>
<body>
<div class="login-container">
    <div class="logo-container">
        <img src="../assets/images/logo.png" alt="Logo">
        <h1>Baloot Store</h1>
    </div>
    <form class="login-form">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
        <label for="birth">Birth Date</label>
        <input type="text" id="birth" name="birth" required>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Register</button>
    </form>
</div>

</body>
</html>