<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Baloot Mobile Store </title>
    <link href="../../src/styles/home.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="header">
    <div class="inner-header">
        <a href="#">
            <img src="../../src/assets/images/logo.png" alt="">
            <h2>Baloot</h2>
        </a>
        <div class="searchbar">
            <label>
                <select class="combobox">
                    <option value="name">name</option>
                    <option value="brand">brand</option>
                    <option value="price">price</option>
                </select>
            </label>
            <label>
                <input type="text" placeholder="search your product ...">
            </label>
            <a href="#"><img src="../../src/assets/images/icons/search.png" alt=""></a>
        </div>
        <div class="account">
            <input type="button" value="Register">
            <input type="button" value="Login">
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="inner-wrapper">
        <div class="filters">
            <h3>Available commodities</h3>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <div class="sort">
                <h4>sort by: </h4><input type="button" value="name"><input type="button" value="price">
            </div>
        </div>
        <div class="products">
            <div class="cards">
                <h3>Huawei nova 9</h3>
                <p>1 left in stock</p>
                <img src="../../src/assets/images/commodities/Huawei_small.png" alt="">
                <h4>300$</h4>
                <input type="button" value="add to cart">
            </div>
            <div class="cards">
                <h3>Huawei nova 9</h3>
                <p>1 left in stock</p>
                <img src="../../src/assets/images/commodities/Huawei_small.png" alt="">
                <h4>300$</h4>
                <input type="button" value="add to cart">
            </div>
            <div class="cards">
                <h3>Huawei nova 9</h3>
                <p>1 left in stock</p>
                <img src="../../src/assets/images/commodities/Huawei_small.png" alt="">
                <h4>300$</h4>
                <input type="button" value="add to cart">
            </div>
            <div class="cards">
                <h3>Huawei nova 9</h3>
                <p>1 left in stock</p>
                <img src="../../src/assets/images/commodities/Huawei_small.png" alt="">
                <h4>300$</h4>
                <input type="button" value="add to cart">
            </div>
            <div class="cards">
                <h3>Huawei nova 9</h3>
                <p>1 left in stock</p>
                <img src="../../src/assets/images/commodities/Huawei_small.png" alt="">
                <h4>300$</h4>
                <input type="button" value="add to cart">
            </div>
            <div class="cards">
                <h3>Huawei nova 9</h3>
                <p>1 left in stock</p>
                <img src="../../src/assets/images/commodities/Huawei_small.png" alt="">
                <h4>300$</h4>
                <input type="button" value="add to cart">
            </div>
            <div class="cards">
                <h3>Huawei nova 9</h3>
                <p>1 left in stock</p>
                <img src="../../src/assets/images/commodities/Huawei_small.png" alt="">
                <h4>300$</h4>
                <input type="button" value="add to cart">
            </div>
            <div class="cards">
                <h3>Huawei nova 9</h3>
                <p>1 left in stock</p>
                <img src="../../src/assets/images/commodities/Huawei_small.png" alt="">
                <h4>300$</h4>
                <input type="button" value="add to cart">
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <p> 2023 @UT </p>
</div>
</body>

</html>