<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> Baloot Store | Product </title>
    <link href="../styles/product.css" rel="stylesheet" type="text/css">
    <link href="../styles/header.css" rel="stylesheet" type="text/css">
    <link href="../styles/footer.css" rel="stylesheet" type="text/css">
    <link href="../styles/commodities.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="header">
    <div class="logo-container">
        <a href="/home">
            <img src="../assets/images/logo.png" alt="logo" class="logo">
        </a>
        <span class="logo-name">Baloot</span>
    </div>

    <div class="account">
        <span class="username">#Marshal</span>
        <div class="cart-product">
            <span class="cart-text">Cart</span>
            <span class="cart-number">0</span>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="product">
        <div class="commodity-picture">
            <img src="../assets/images/commodities/Huawei_big.jpg" alt="commodity">
        </div>
        <div class="commodity-info">
            <div class="box">
                <div class="info">
                    <p id="commodity-title">Huawei nova 9</p> <br>
                    <p id="commodity-in-stock-number">5 left in stock</p>
                    <p id="provider">by <a href="www.huawei.com">Huawei</a></p>

                    <span id="category-text">Category(s)</span>
                    <ul id="categories-list">
                        <li>
                            <p>Technology</p>
                        </li>
                        <li>
                            <p>IT</p>
                        </li>
                    </ul>
                </div>

                <div class="rating">
                    <img src="../assets/images/icons/star.png" alt="star-icon">
                    <span id="rate">4.1</span>
                    <span id="rate-number">(12)</span>
                </div>

            </div>

            <div class="add-to-cart">
                <span id="price">300$</span>
                <input type="button" value="add to card" id="add-to-cart-button">
            </div>

            <div class="rate-me">
                <div class="stars">
                    <span>rate now</span>
                    <div class="rate-bar">
                        <img src="../assets/images/icons/star.png" alt="star-icon">
                        <img src="../assets/images/icons/star.png" alt="star-icon">
                        <img src="../assets/images/icons/star.png" alt="star-icon">
                        <img src="../assets/images/icons/star.png" alt="star-icon">
                        <img src="../assets/images/icons/star.png" alt="star-icon">
                        <img src="../assets/images/icons/star.png" alt="star-icon">
                        <img src="../assets/images/icons/star.png" alt="star-icon">
                        <img src="../assets/images/icons/star.png" alt="star-icon">
                        <img src="../assets/images/icons/star.png" alt="star-icon">
                        <img src="../assets/images/icons/star.png" alt="star-icon">

                    </div>
                </div>
                <input type="submit" value="submit" id="rate-submit-button">
            </div>
        </div>

    </div>
    <div class="comments">
        <div class="title">
            <p id="comment-title">Comments</p>
            <p id="number-of-comments">(2)</p>
        </div>
        <div class="contents">
            <h6>This was awsome!!!!</h6>
            <p>2023-03-20&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;#username</p>
            <div class="is-helpful">
                <span>Is this comment helpful?</span>
                <span class="like-number">1</span>
                <img src="../assets/images/icons/like.png">
                <span class="dislike-number">1</span>
                <img src="../assets/images/icons/dislike.png">
            </div>
        </div>
        <div class="contents">
            <h6>This was awfullllllllllll!!!!</h6>
            <p>2023-03-20&nbsp;&nbsp;&nbsp; &nbsp;&bull;&nbsp;&nbsp; &nbsp;&nbsp;#username</p>
            <div class="is-helpful">
                <span>Is this comment helpful?</span>
                <span class="like-number">1</span>
                <img src="../assets/images/icons/like.png">
                <span class="dislike-number">1</span>
                <img src="../assets/images/icons/dislike.png">
            </div>
        </div>
        <div class="opinion">
            <span id="submit-opinion-text">Submit your opinion</span>
            <div class="opinion-box">
                <input type="text" id="textbox" name="textbox">
                <input type="submit" value="Post" id="submit-opinion-button">
            </div>
        </div>
    </div>
    <div class="suggest">
        <div class="title">
            You also might like...
        </div>
        <div class="products">
            <div class="cards">
                <a href="#">
                    <h3>Huawei nova 9</h3>
                </a>
                <p>1 left in stock</p>
                <img src="../assets/images/commodities/Huawei_small.png">
                <div class="price-add">
                    <h4>300$</h4>
                    <input type="button" value="add to cart">
                </div>
            </div>
            <div class="cards">
                <a href="#">
                    <h3>Huawei nova 9</h3>
                </a>
                <p>1 left in stock</p>
                <img src="../assets/images/commodities/Huawei_small.png">
                <div class="price-add">
                    <h4>300$</h4>
                    <input type="button" value="add to cart">
                </div>
            </div>
            <div class="cards">
                <a href="#">
                    <h3>Huawei nova 9</h3>
                </a>
                <p>1 left in stock</p>
                <img src="../assets/images/commodities/Huawei_small.png">
                <div class="price-add">
                    <h4>300$</h4>
                    <input type="button" value="add to cart">
                </div>
            </div>
            <div class="cards">
                <a href="#">
                    <h3>Huawei nova 9</h3>
                </a>
                <p>1 left in stock</p>
                <img src="../assets/images/commodities/Huawei_small.png">
                <div class="price-add">
                    <h4>300$</h4>
                    <input type="button" value="add to cart">
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <p> 2023 @UT </p>
</footer>
</body>

</html>
