<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Baloot Mobile Store | Product </title>
    <link href="../styles/header.css" rel="stylesheet" type="text/css">
    <link href="../styles/user.css" rel="stylesheet" type="text/css">
    <link href="../../src/styles/footer.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="header">
    <div class="logo-container">
        <a href="/home">
            <img src="../assets/images/logo.png" alt="logo" class="logo">
        </a>
        <span class="logo-name">Baloot</span>
    </div>

    <div class="account">
        <span class="username">#Marshal</span>
        <div class="cart">
            <span class="cart-text">Cart</span>
            <span class="cart-number">1</span>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="credits">
        <table class="user-info">
            <tr>
                <td><img src="../assets/images/icons/user.png" alt="user"></td>
                <td><span>Marshal</span></td>
            </tr>
            <tr>
                <td><img src="../assets/images/icons/mail.png" alt="mail"></td>
                <td><span>Marshal.Mathers@gmail.com</span></td>
            </tr>
            <tr>
                <td><img src="../assets/images/icons/calendar.png" alt="calendar"></td>
                <td><span>1872/10/17</span></td>
            </tr>
            <tr>
                <td><img src="../assets/images/icons/location.png" alt="location"></td>
                <td><span>20785 Schultes Avenue, Warren, MI 48091</span></td>
            </tr>
        </table>

        <div class="buy">
            <span class="credit-value">$10000000</span>
            <input type="button" value="$Amount" class="amount">
            <input type="submit" value="Add More Credit" class="submit">
        </div>

    </div>

    <div class="buy-list">
        <div class="title">
            <img src="../assets/images/icons/shop.png" alt="shop-icon">
            <h4>Cart</h4>
        </div>

        <div class="buy-list-table">
            <div class="th">
                <span>Name</span>
                <span>Image</span>
                <span>Categories</span>
                <span>Price</span>
                <span>Provider ID</span>
                <span>Rating</span>
                <span>In Stock</span>
                <span>In Cart</span>
            </div>
            <div class="td">
                <span>Galaxy S21</span>
                <span><img src="../assets/images/commodities/Huawei_small.png" alt="huawei"></span>
                <span>Technology, Phone</span>
                <span>$21000000</span>
                <span>1234</span>
                <span class="rate">8.3</span>
                <span class="stock">17</span>
                <span class="in-cart">
                    <span id="minus">-</span>
                    <span id="num">1</span>
                    <span id="plus">+</span>
                </span>
            </div>
        </div>

        <div class="buy-list-pay">
            <input type="submit" value="Pay now!" class="submit">
        </div>
    </div>

    <div class="history">
        <div class="title">
            <img src="../assets/images/icons/history.png" alt="history-icon">
            <h4>History</h4>
        </div>

        <div class="history-table">
            <div class="th">
                <span>Name</span>
                <span>Image</span>
                <span>Categories</span>
                <span>Price</span>
                <span>Provider ID</span>
                <span>Rating</span>
                <span>In Stock</span>
                <span>Quantity</span>
            </div>
            <div class="td">
                <span>Mom’s Spaghetti</span>
                <span><img src="../assets/images/commodities/spaghetti.png" alt="huawei"></span>
                <span>Food</span>
                <span>$60000</span>
                <span>313</span>
                <span class="rate">10</span>
                <span class="stock">0</span>
                <span> 3 </span>
            </div>
            <div class="td">
                <span>Dre’s Microphone</span>
                <span><img src="../assets/images/commodities/mic.png" alt="huawei"></span>
                <span>Technology</span>
                <span>$4200000</span>
                <span>4321</span>
                <span class="rate">8.5</span>
                <span class="stock">22</span>
                <span> 1 </span>
            </div>
        </div>
    </div>

</div>

<footer>
    <p> 2023 @UT </p>
</footer>
</body>

</html>
