.account .login-signup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.login-signup #signup-button {
    background-color: #F7F0E9;
    color: #A97B47;

    border: none;
    border-radius: 15px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw;

    margin-right: 2vw;

    height: 4vw;
    width: 9vw;

    cursor: pointer;
}

.login-signup #login-button {
    background-color: #F7F0E9;
    color: #A97B47;

    border: none;
    border-radius: 15px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw;

    margin-right: 3vw;

    height: 4vw;
    width: 9vw;

    cursor: pointer;

}