@charset "utf-8";
@import "../assets/fonts/Inter/inter_font.css";
@import "normalize.css";

:root {
    --darkbrown: #593C1C;
    --lightbrown: #A97B47;
    --red: #C82525;
    --gray: #909090;
    --blue: #315FD8;
    --cream: #F7F0E9;
    --white: #F5F5F5;
    --beige: #FFC700;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    margin-top: 50px;
    width: 80%;
}

.cards {
    display: flex;
    flex-direction: column;

    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}

.cards img {
    width: 16vw;
    height: 15vw;
    border-radius: 15px;
}

.cards h3 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4vw;
    line-height: 1.2vw;
    color: #593C1C;
    margin-bottom: 10px;

    text-align: left;
}

.cards p {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9vw;
    line-height: 0.7vw;

    color: #C82525;

    text-align: left;

    margin-top: 0;
}

.cards h4 {
    margin-bottom: 20px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    line-height: 1.5vw;
    text-align: center;

    color: #593C1C;
}

.cards .price-add {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cards .price-add .disabled-button {
    border: 1px solid #dcd3d3;
    color: #a19b9b;
    cursor: auto;
}

.cards .price-add input {
    color: #593C1C;
    cursor: pointer;
    font-size: 1.1vw;
    text-align: center;

    background: #FFFFFF;
    border: 1px solid #593C1C;
    border-radius: 15px;

    width: 50%;
    height: 3vw;

    margin-left: 4vw;
}

.pagination {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    border: none;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    outline: none;
}

.pagination button:focus {
    outline: none;
}

.pagination button.active {
    font-weight: bold;
}

.pagination button.circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.pagination button.circle.active {
    background-color: #e1dcdc;
    color: gray;
}

.pagination button.arrow {
    font-size: 20px;
    margin: 0 5px;
}

.pagination button.arrow.disabled {
    color: gray;
    cursor: default;
}

.pagination button.arrow:hover:not(.disabled) {
    color: #333;
}