@charset "utf-8";

:root {
    --darkbrown: #593C1C;
    --lightbrown: #a8803f;
    --red: #C82525;
    --gray: #909090;
    --blue: #315FD8;
    --cream: #F7F0E9;
    --white: #F5F5F5;
    --beige: #FFC700;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #593C1C;
    padding: 1rem;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 1vw;
    font-size: 1.6vw;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    color: #FFFFFF;

    margin-top: 4vw;
}